
<div class="book-navbar">
  <%- partial('_partials/navbar') %>
</div>

<div class="book-post">
  <%-page.content%>
</div>

<% if(page.comments != false) { %>
  <div class="book-comments">
    <%- partial('_partials/comments') %>
  </div>
<% } %>
<%- partial('tags') %>
<div id="footer-paginator">
  <% if(page.prev&&page.prev.path) { %>
    <div class="prev">
      <%- link_to(page.prev.path,`<span>上一篇: </span><span>${page.prev.title}</span>`) %>
    </div>
  <% } %>
  <%-paginator()%>
  <% if(page.next&&page.next.path) { %>
    <div class="next">
      <%- link_to(page.next.path,`<span>下一篇: </span>${page.next.title}`) %>
    </div>
  <% } %>
</div>
<%- js('/js/book-post') %>